<h2>Welcome to Ember.js</h2>
{{view "Bootstrap.AlertMessage" type="info" messageBinding="infoMessage"}}
{{#linkTo 'day' controller.dateNow.year controller.dateNow.month controller.dateNow.day }}GoTo Calendar{{/linkTo}}